.kl-breadcrumb {
    padding: 40px 0 0px;
    @include media-breakpoint-down(md) {
        padding-top: 25px;
    }
    nav {
        --bs-breadcrumb-divider: url("../../../../images/icon-globals/icon-breadcrumb-divider.svg");
    }
    .breadcrumb-item {
        font-size: 18px;
        line-height: 1.22;
        @include media-breakpoint-down(lg) {
            font-size: 16px;
        }
        @include media-breakpoint-down(sm) {
            font-size: 14px;
        }
        &.active {
            color: $black;
        }
        & + {
            .breadcrumb-item {
                @include media-breakpoint-up(lg) {
                    padding-left: 12px;
                    &::before {
                        padding-right: 12px;
                    }
                }
            }
        }
        a {
            color: $black;
            transition: color .15s ease-in-out;
            &:hover {
                color: $red_secondary;
            }
        }
    }
}