@font-face {
    font-family: 'DK Pardesi';
    src: url('../fonts/DK_Pardesi/DKPardesi.eot');
    src: url('../fonts/DK_Pardesi/DKPardesi.eot?#iefix') format('embedded-opentype'),
        url('../fonts/DK_Pardesi/DKPardesi.woff2') format('woff2'),
        url('../fonts/DK_Pardesi/DKPardesi.woff') format('woff'),
        url('../fonts/DK_Pardesi/DKPardesi.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/*MoreSugar-Regular*/
@font-face {
    font-family: 'More Sugar';
    src: url('../fonts/MoreSugar-Regular/MoreSugarRegular.eot');
    src: url('../fonts/MoreSugar-Regular/MoreSugarRegular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MoreSugar-Regular/MoreSugarRegular.woff2') format('woff2'),
        url('../fonts/MoreSugar-Regular/MoreSugarRegular.woff') format('woff'),
        url('../fonts/MoreSugar-Regular/MoreSugarRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* ChewyPro */
@font-face {
    font-family: 'Chewy Pro';
    src: url('../fonts/ChewyPro/ChewyPro.eot');
    src: url('../fonts/ChewyPro/ChewyPro.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ChewyPro/ChewyPro.woff2') format('woff2'),
        url('../fonts/ChewyPro/ChewyPro.woff') format('woff'),
        url('../fonts/ChewyPro/ChewyPro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}